@charset "UTF-8";
/* CSS Document for Shelter demo */

.section {
	clear: both;
}

a {
  color: #007ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(98,98,98);
  background-color: #fff;
}

.title {
   color: rgb(56,56,56);
   font-weight: 200;
}

.content {
	text-align: center;
	min-height: 85%;
}

.intro-text, .map-container {
	position: relative;
	max-width: 990px;
	text-align: left;
	margin: 0 auto;
}

.scotland-map {
  width: 491px; 
  height: 614px;
}

@media only screen and (min-width: 768px) {
  .column {
  	position: relative;
  	width: 45%;
    float: left;
    margin: auto 1em;
  }
}

.map-container {
	clear: both;
}

.map-holder {
  position: relative;
  display: none;  
}

.static-map {
  width: 75%;
  height: auto;
  margin: 0 auto;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .map-holder {
    display: block;
  }
  .static-map {
    display: none;
  }
}

.highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 494px; 
  height: 449px;
}

.highlight.aberdeen {
  display:none;
}

.highlight.dundee {
  display:none;
}

.highlight.edinburgh {
  display:none;
}

.highlight.glasgow {
  display:none;
}

.key-holder li {
  float: left;
  margin-right: 2%;
}

@media only screen and (min-width: 768px) {
  .key-holder {
  	width: 250px;
  	float: right;
  	margin-right: 10%;
  }
}

.map-holder {
	width: 350px;
  position: relative;
}

.tooltip {
  border-radius: 5px;
  position: relative;
  background: #fff;
  border: 2px solid black;
  width: 200px;
  text-align: center;
}

.tooltip:after {
  content: url('../img/blackTriangle.png');
  position: absolute;
  bottom: -16px;
  left: 100px;
}

.tooltip.glasgow {
  top: -270px;
  right: -165px;
  padding: 5px;
  display: none;
}

.tooltip.glasgow:after {
  position: absolute;
  left: 82px;
}

.tooltip.edinburgh {
  top: -275px;
  right: -250px;
  padding: 5px;
  display: none;
}

.tooltip.edinburgh:after {
  position: absolute;
  left: 91px;
}

.tooltip.dundee {
  top: -338px;
  right: -275px;
  padding: 5px;
  display: none;
}

.tooltip.dundee:after {
  position: absolute;
  left: 84px;
}

.tooltip.aberdeen {
  top: -435px;
  right: -335px;
  padding: 5px;
  display: none;
}

.tooltip.aberdeen:after {
  position: absolute;
  left: 90px;
}

.visable {
  display: inline-block !important;
}

ul {
  list-style: none;
  text-align: left;
}

li:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2.8em;
  width: 50px;
  height: 50px;
  margin: 0 15px 25px 0;
}
li.glasgow:before {
  background: #3e67b3;
}
li.edinburgh:before {
  background: #ffcd00;
}
li.dundee:before {
  background: #680e2a;
}
li.aberdeen:before {
  background: #33832f;
}
.back:before {
    content: "«";
    padding-right: 5px;
}
.active {
  text-decoration: underline;
}

/* styles for city pages */
.pointer-map {
  width: 63px;
  height: 77px;
  position: absolute;
  right: 5px;
  top: 0;
}

.intro-full {
  margin: auto 1em;
}

.half-wrapper {
  background: #bcdaef;
}

.column.half {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid rgb(98, 98, 98);
  padding-bottom: 1em;
  float: left;
  margin: auto 1em;
}



@media only screen and (min-width: 768px) {
  .column.half {
    height: 220px;
    width: 200px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .column.half {
    width: 175px;
    height: 245px;
  }
}

.column.half h2 a {
  font-size: 18px;
  height: 70px;
  line-height: 1.3em;
}

.column.half p {
  font-size: 14px;
  line-height: 18px;
}

/* form styles */
.form-container {
  clear: both;
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
  top: 2em;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #007ab7;;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 94%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#bcdaef;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#007ab7;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

