@charset "UTF-8";
/* CSS Document for Shelter demo */

.section {
	clear: both;
}

a {
  color: #007ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(98,98,98);
  background-color: #fff;
}

.title {
   color: rgb(56,56,56);
   font-weight: 200;
}

.content {
	text-align: center;
	min-height: 85%;
}

.intro-text, .map-container {
	position: relative;
	max-width: 990px;
	text-align: left;
	margin: 0 auto;
}

.scotland-map {
  width: 491px; 
  height: 614px;
}

@media only screen and (min-width: 768px) {
  .column {
  	position: relative;
  	width: 45%;
    float: left;
    margin: auto 1em;
  }
}

.map-container {
	clear: both;
}

.map-holder {
  position: relative;
  display: none;  
}

.static-map {
  width: 75%;
  height: auto;
  margin: 0 auto;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .map-holder {
    display: block;
  }
  .static-map {
    display: none;
  }
}

.highlight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 494px; 
  height: 449px;
}

.highlight.aberdeen {
  display:none;
}

.highlight.dundee {
  display:none;
}

.highlight.edinburgh {
  display:none;
}

.highlight.glasgow {
  display:none;
}

.key-holder li {
  float: left;
  margin-right: 2%;
}

@media only screen and (min-width: 768px) {
  .key-holder {
  	width: 250px;
  	float: right;
  	margin-right: 10%;
  }
}

.map-holder {
	width: 350px;
  position: relative;
}

.tooltip {
  border-radius: 5px;
  position: relative;
  background: #fff;
  border: 2px solid black;
  width: 200px;
  text-align: center;
}

.tooltip:after {
  content: url('../img/blackTriangle.png');
  position: absolute;
  bottom: -16px;
  left: 100px;
}

.tooltip.glasgow {
  top: -270px;
  right: -165px;
  padding: 5px;
  display: none;
}

.tooltip.glasgow:after {
  position: absolute;
  left: 82px;
}

.tooltip.edinburgh {
  top: -275px;
  right: -250px;
  padding: 5px;
  display: none;
}

.tooltip.edinburgh:after {
  position: absolute;
  left: 91px;
}

.tooltip.dundee {
  top: -338px;
  right: -275px;
  padding: 5px;
  display: none;
}

.tooltip.dundee:after {
  position: absolute;
  left: 84px;
}

.tooltip.aberdeen {
  top: -435px;
  right: -335px;
  padding: 5px;
  display: none;
}

.tooltip.aberdeen:after {
  position: absolute;
  left: 90px;
}

.visable {
  display: inline-block !important;
}

ul {
  list-style: none;
  text-align: left;
}

li:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2.8em;
  width: 50px;
  height: 50px;
  margin: 0 15px 25px 0;
}
li.glasgow:before {
  background: #3e67b3;
}
li.edinburgh:before {
  background: #ffcd00;
}
li.dundee:before {
  background: #680e2a;
}
li.aberdeen:before {
  background: #33832f;
}
.back:before {
    content: "«";
    padding-right: 5px;
}
.active {
  text-decoration: underline;
}